html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(
    circle,
    rgba(255, 141, 0, 1) 62%,
    rgba(0, 0, 0, 1) 100%
  );
}
h3 {
  color: #1460aa;
}
a {
  color: rgb(47, 129, 47);
}

.site-header {
  color: rgb(2, 2, 95);
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.article {
  width: 600px;
  margin: 20px auto;
}

.image {
  width: 600px;
  margin: 10px auto;
}

.navigation {
  background: darkblue;
  padding: 10px;
  border-radius: 20px;
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.navigation__link {
  color: white;
  padding: 5px;
}

.navigation__link--main {
  color: hotpink;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.main-section {
  display: grid;
  grid-template-areas:
    "header header"
    "article aside"
    "footer footer";
  grid-template-columns: 1fr 200px;
  column-gap: 16px;
  row-gap: 16px;
}

.main-section__header {
  grid-area: header;
}

.main__article {
  grid-area: article;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  body {
    background: rgb(254, 254, 254);
    background: radial-gradient(
      circle,
      rgba(254, 254, 254, 0.8491771708683473) 16%,
      rgba(0, 8, 227, 1) 100%
    );
    margin: 16px;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }
  .main-section {
    display: grid;
    grid-template-areas:
      "header"
      "article" 
      "aside"
      "footer";
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
  
}

@media screen and (max-width: 320px) {
  body {
    background: rgb(121, 26, 0);
    background: radial-gradient(
      circle,
      rgba(121, 26, 0, 1) 4%,
      rgba(18, 60, 0, 1) 81%
    );
    margin: 16px;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
  .main-section {
    display: grid;
    grid-template-areas:
      "header"
      "article" 
      "aside"
      "footer";
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
}
