html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(circle, rgba(255,141,0,1) 62%, rgba(0,0,0,1) 100%);
}
h3 {
  color: #1460aa;
}
a {
  color: rgb(47, 129, 47);
}

.site-header {
  color: rgb(2, 2, 95);
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.article {
  width: 600px;
  margin: 20px auto;
}

.image {
  width: 600px;
  margin: 10px auto;
}

.navigation {
  background: darkblue;
  padding: 10px;
  border-radius: 20px;
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;

}

.navigation__link {
  color: white;
  padding: 5px;
}

.navigation__link--main {
  color: hotpink;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.main-section {
display: grid;
grid-template-areas: "header header"
"article aside"
"footer footer";
grid-template-columns: 1fr 200px;
column-gap: 16px;
row-gap: 16px;

}

.main-section__header {
  grid-area: header;
}

.main__article {
  grid-area: article;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}